# Twilio WhatsApp
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886

# Watson X Orchestrate
WXO_API_BASE=https://api.eu-central-1.dl.watson-orchestrate.ibm.com/instances/20260227-1116-3427-60dc-5ca812e30631
WXO_API_KEY=azE6dXNyXzliNDk5NTc3LTg3Y2YtM2Y3NC1iNjhmLWZhYTZkNDgyYmJmZDpQbEJFbFNqQ0dHTUZ3NzdHclgwOEtRTnJ4M1N6RkYxQUl6RVduTWRyZlhFPTo2eWtH
WXO_AGENT_ID=405d33af-b2da-4257-baa0-57308b81ece6

# Server
PORT=5000
